<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakery Inventory Management</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <header class="bg-gray-800 text-white p-4">
        <nav class="container mx-auto flex justify-between">
            <div class="text-lg font-bold">Bakery Inventory</div>
            <div>
                <a href="/auth/signup"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</a>
            </div>
        </nav>
    </header>
    <section class="bg-yellow-200 text-center py-20 min-h-screen flex items-center">
        <div class="container mx-auto">
            <h1 class="text-4xl font-bold mb-4">Welcome to Our Bakery Inventory Management</h1>
            <p class="text-lg mb-8">Manage your bakery's inventory efficiently and effortlessly.</p>
        </div>
    </section>
</body>

</html>